rng_action.plugin:
  type: mapping
  label: 'action'
  mapping:
    id:
      type: string
      label: 'Plugin ID'
    configuration:
      type: action.configuration.[%parent.id]

rng_event_type_people_type:
  type: mapping
  mapping:
    entity_type:
      type: string
      label: 'Entity type'
    bundle:
      type: string
      label: 'Bundle'
    create:
      type: boolean
      label: 'Whether this entity bundle can be created inline.'
    existing:
      type: boolean
      label: 'Whether pre-existing identity entities can be referenced.'
    entity_form_mode:
      type: string
      label: 'Form display mode used when the entity is created inline.'
