{#
/**
 * @file registration.html.twig
 * Default theme implementation to show a registration.
 *
 * This template is used when viewing registrations entities.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_registration()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('registration') }}>
    {% if content %}
        {{- content -}}
    {% endif %}
</div>
